* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OPENSANS-LIGHT.TTF");
}
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OPENSANS-REGULAR.TTF");
}
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OPENSANS-BOLD.TTF");
}
.center-content {
  justify-content: center;
  display: flex;
  height: min-content;
}
body {
  font-family: "OpenSansRegular";
}
.expand {
  width: 100%;
}
.getStarted {
  padding: 15px 40px;
  background-color: #173560;
  border-radius: 10px;
}
#header {
  background-image: url(../img/header_bg.jpg);
  background-size: cover;
  min-height: 100vh;
}
#header ul {
  text-align: left;
}
#header li {
  display: inline-block;
  padding-left: 30px;
}
#header a {
  color: white;
  text-decoration: none;
  line-height: 60px;
}
#header .caption {
  font-family: "OpenSansBold";
  font-size: 43px;
  color: white;
  font-weight: 100;
}
#header .description {
  font-size: 20px;
  font-family: "OpenSansLight";
  color: white;
  font-weight: 100;
  padding-top: 15px;
  padding-bottom: 35px;
  max-width: 380px;
}

.createaccount {
  font-family: "OpenSansRegular";
  background-color: #29c73c;
  border: none;
  border-radius: 100px;
  padding: 15px 50px;
  font-size: 20px;
  color: white;
  margin-right: 10px;
  margin-bottom: 10px;
}
.loginaccount {
  font-family: "OpenSansRegular";
  background-color: transparent;
  border: 2px solid white;
  border-radius: 100px;
  padding: 15px 50px;
  font-size: 20px;
  color: white;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.padding-vertical {
  padding-top: 50px;
}
.logo {
  max-width: 220px;
}
.partner-holder {
  margin-top: 50px;
}
.partner-holder img {
  height: 33px;
  margin-right: 10px;
  margin-bottom: 30px;
}
.exchange-card {
  background-color: #122137;
  width: 85%;
  border-radius: 20px;
  margin-bottom: 40px;
}
.exchange-card .top {
  padding: 30px;
  background-color: #183b6b;
  border-radius: 20px 20px 0 0;
  color: white;
}
.exchange-card .body {
  padding: 30px;
  color: white;
}
input {
  font-size: 20px;
  padding: 15px;
  width: 100%;
  margin-top: 10px;
}
.input-holder {
  position: relative;
  margin-bottom: 20px;
}
.dropdown {
  position: absolute;
  right: 0;
  height: 54px;
  top: 11px;
  padding: 0 10px;
  border: 1px solid rgb(211, 211, 211);
}
.proceed {
  font-family: "OpenSansRegular";
  width: 100%;
  background-color: #5bd882;
  border: none;
  border-radius: 10px;
  padding: 15px;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
}
.head {
  margin-top: 120px;
}

.features-holder {
  height: 400px;
  display: flex;
  justify-content: center;
  margin-top: -190px;
  z-index: 2;
  /* position: absolute; */
  /* left: 50%;
  transform: translate(-50%); */
}
/* .features-holder {
  height: 400px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
} */
.feature-cards {
  width: 800px;
  /* background-color: #173560; */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-small {
  width: 250px;
  background-color: #173560;
  height: 250px;
  -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 20px;
  color: white;
  z-index: 1;
}
.card-small p {
  font-family: "OpenSansLight";
  font-size: 15px;
}
.card-small img {
  height: 60px;
  padding-bottom: 8px;
}
.card-big {
  width: 300px;
  background-color: #173560;
  height: 300px;
  -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.45);
  z-index: 1;
  text-align: center;
  padding: 20px 30px;
  color: white;
}
.card-big p {
  font-family: "OpenSansLight";
  font-size: 15px;
}
.card-big img {
  height: 90px;
  padding-bottom: 8px;
}
#particles {
  width: 100%;

  height: 100%;

  overflow: hidden;
  position: absolute;
}
.clip-circle {
  clip-path: circle(720px at 100px right);
  /* OLD VALUE example: circle(245px, 140px, 50px); */
  /* Yep, even the new clip-path has deprecated stuff. */
}
.clip-ellipse {
  clip-path: ellipse(800px 600px at bottom right);
  /* OLD VALUE example: ellipse(245px, 80px, 75px, 30px); */
}
@media only screen and (max-width: 1280px) {
  .features-holder {
    margin-top: -110px;
  }
}
@media only screen and (max-width: 1200px) {
  .features-holder {
    margin-top: -70px;
  }
}
@media only screen and (max-width: 768px) {
  .features-holder {
    margin-top: 0px;
    padding-top: 20px;
    height: auto;
  }
  .feature-cards {
    flex-direction: column;
    align-items: center;
  }
}
.world-map {
  background-image: url(../img/world-map-dots.png);
  padding: 50px 0px;
  /* margin-top */
}
.left-image img {
  width: 100%;
}
.flex-list {
  display: flex;
  align-items: center;
}
.left-side {
  background-color: white;
  padding: 35px;
  border-radius: 20px;
}
.left-side li {
  margin-bottom: 15px;
}
.left-side h2 {
  font-size: 35px;
  font-family: "OpenSansLight";
  margin: 20px 0px;
}
.left-side h2 span {
  font-family: "OpenSansBold";
}
.left-side > ul > li > img {
  width: 25px;
  margin-right: 10px;
}
.left-side > div > img {
  max-width: 150px;
}
.left-side p {
  font-size: 20px;
}
.coming-soon {
  margin-top: 15px;
  font-family: "OpenSansBold" !important;
  color: #1a4073;
  letter-spacing: -2px;
}
.desc {
  font-size: 14px !important;
  margin-bottom: 20px;
}
footer {
  height: auto;
  background-image: url(../img/footer-bg.png);
  background-size: cover;
  padding: 80px 20px 0px;
}
.footer-CTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-CTA > div {
  text-align: center;
}
.footer-CTA h2 {
  font-size: 40px;
  font-family: "OpenSansLight";
  letter-spacing: -1px;
  color: white;
  font-weight: 100;
  margin-bottom: 15px;
}
.divider-green {
  background-color: #5bd882;
  width: 100px;
  height: 4px;
  margin: 20px 0px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
.footer-left {
  margin-top: 50px;
}
.footer-left #logo {
  width: 200px;
}
.footer-left #taxatec {
  width: 250px;
}
.footer-right ul {
  margin-bottom: 20px;
}
.footer-right li {
  list-style: none;
}
.footer-right {
  padding: 40px 0px 100px;
}

.footer-right .listHead {
  color: #89a0bf;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-right p {
  font-size: 12px;
  color: white;
  margin-bottom: 8px;
}
.copyright {
  background-color: #122137;
  padding: 20px;
  text-align: center;
  color: white;
}
.login {
  position: relative;
  margin-top: 40px;
}
.login > div > h2 {
  font-size: 50px;
}
.login > div > h2,
.login > div > p {
  color: white;
}
.login-card {
  margin-top: 80px;
  max-width: 500px;
  position: relative;
  color: #748b9f;
  left: 50%;
  transform: translate(-50%, 0px);
}
.login-card input {
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid white;
  margin-bottom: 20px;
  color: white;
}
.signin {
  background: linear-gradient(105.37deg, #49d60a -37.15%, #09cb01 51.25%);
  padding: 2px 15px;
  border-radius: 50px;
  width: 100%;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  margin-bottom: 40px;
}
.signin:hover {
  background: linear-gradient(105.37deg, #5fd329 -22.15%, #3bf335 70.25%);
}
.forgot {
  margin: 20px 0 30px;
  color: #748b9f !important;
  display: inline-block;
  text-align: center !important;
  width: 100%;
}
.new {
  margin: 20px 0 30px;
  color: #ffffff !important;
  display: inline-block;
  text-align: center !important;
  width: 100%;
}
.forgot span {
  color: #2382ff !important;
  text-decoration: underline;
}

.footer {
  position: relative;
  padding-top: 182px;
  padding-bottom: 56px;
  z-index: 0;
  overflow: hidden;
}

.popup-footer.footer {
  margin-top: 60px;
  min-height: calc(100vh - 700px);
}
.popup-footer.footer {
  position: absolute;
  padding-top: 0;
  padding-bottom: 0;
  left: 0;
  right: 0;
  height: 465px;
  overflow: hidden;
  /* margin-bottom: -230px; */
  margin-top: -20px;
  bottom: 0;
}

.footer-bg-waves--item2 {
  background-image: url(../img/wave2.svg);
  width: 6400px !important;
  height: 432px;
  min-height: 432px;
  z-index: 0;
  animation: wave2 16s infinite;
  animation-timing-function: ease;
  animation-timing-function: linear;
}
.footer-bg-waves--item1 {
  background-image: url(../img/wave1.svg);
  width: 4460px !important;
  height: 452px;
  min-height: 452px;
  z-index: 0;
  animation: wave1 14s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}
.footer-bg-waves--item3 {
  background-image: url(../img/wave3.svg);
  width: 7288px !important;
  height: 402px;
  min-height: 402px;
  z-index: 0;
  animation: wave3 19s infinite;
  animation-timing-function: ease;
  animation-timing-function: linear;
}
.footer-bg-waves {
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background-repeat: repeat-x;
  width: 100%;
  transform: translate3d(0, 0, 0.01);
  will-change: transform;
}
@keyframes wave1 {
  0% {
    transform: translateX(-1115px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes wave2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1600px);
  }
}
@keyframes wave3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1822px);
  }
}

/* DASHBOARD */
.progress-holder {
  background-color: #2382ff55;
  padding: 20px;
  max-width: 700px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: White;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
}
.progress-holder ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15px;
}
.progress-holder p {
  font-size: 15px;
}

.progressbar-back {
  height: 5px;
  /* width: 100%; */
  background-color: #173560;
  position: relative;
  margin: 20px 50px 30px 60px;
}
.progressbar-front {
  position: absolute;
  height: 5px;
  width: 0%;
  background-color: #09cb01;
  border-radius: 10px;
  /* padding: 0px 80px; */
}
.progressbar-indicator {
  position: absolute;
  height: 15px;
  width: 15px;
  left: 0%;
  top: -5px;
  background-color: #09cb01;
  border-radius: 15px;
}
